{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h3>{{'{{title}}'}}</h3>
    <h4>{{'{{subtitle}}'}}</h4>
</div>

<div class="row">
    <div class="col-md-6" ng-controller="gameCtrl">
        Current time is:
        <span my-current-time="format"></span>
        <button class="btn btn-xs btn-primary" ng-disabled="0" ng-click="rematch()">reMatch</button>
        <hr />
        <table class="table table-bordered">
            <tr style="height:5em">
                <td class="text-center">
                    <div ng-if="board[0] === ''" ng-click="movePlayed('f1')" class="btn btn-default"><h1>&nbsp;</h1></div>
                    <div ng-if="board[0] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[0] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
                <td class="text-center">
                    <div ng-if="board[1] === ''" ng-click="movePlayed('f2')" class="btn btn-default"><h1>&nbsp;</h1></div>
                    <div ng-if="board[1] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[1] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
                <td class="text-center">
                    <div ng-if="board[2] === ''" ng-click="movePlayed('f3')" class="btn btn-default"><h1></h1></div>
                    <div ng-if="board[2] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[2] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
            </tr>
            <tr style="height:5em">
                <td class="text-center">
                    <div ng-if="board[3] === ''" ng-click="movePlayed('f4')" class="btn btn-default"><h1> </h1></div>
                    <div ng-if="board[3] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[3] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
                <td class="text-center">
                    <div ng-if="board[4] === ''" ng-click="movePlayed('f5')" class="btn btn-default"><h1> &nbsp; </h1></div>
                    <div ng-if="board[4] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[4] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
                <td class="text-center">
                    <div ng-if="board[5] === ''" ng-click="movePlayed('f6')" class="btn btn-default"><h1> &nbsp; </h1></div>
                    <div ng-if="board[5] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[5] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
            </tr>
            <tr style="height:5em">
                <td class="text-center">
                    <div ng-if="board[6] === ''" ng-click="movePlayed('f7')" class="btn btn-default"><h1> &nbsp; </h1></div>
                    <div ng-if="board[6] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[6] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
                <td class="text-center">
                    <div ng-if="board[7] === ''" ng-click="movePlayed('f8')" class="btn btn-default"><h1> &nbsp; </h1></div>
                    <div ng-if="board[7] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[7] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
                <td class="text-center">
                    <div ng-if="board[8] === ''" ng-click="movePlayed('f9')" class="btn btn-default"><h1> &nbsp; </h1></div>
                    <div ng-if="board[8] === 'X'" class="btn-default text-center"><h1>X</h1></div>
                    <div ng-if="board[8] === 'O'" class="btn-default text-center"><h1>O</h1></div>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
